* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #333;
}
.navbar {
  /*background-image: linear-gradient(90deg, #000039, #0073CF);
  background-color: #000039;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.65);*/
  /*border-bottom: 1px solid rgba(255,255,255,0.2);
  background: rgba(255, 255, 255, 0.2);*/
  background: #111;
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 2px solid #4cd137;
}
.navbar a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease-in-out;
  text-shadow: 2px 2px 4px #080808;
  /*font-family: 'Poppins', sans-serif;*/
}
.navbar a.navbar-brand {
  float: left;
  height: inherit;
  line-height: inherit;
  padding: 0 30px;
  font-size: 28px;
  text-transform: none;
  letter-spacing: 2px;
  color: #4cd137;
  font-weight: 700;
  font-family: 'Raleway Dots', cursive;
}
.navbar a.navbar-brand span {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  font-family: 'Raleway Dots', cursive;
}
.navbar ul {
  float: right;
  list-style: none;
  height: inherit;
  line-height: inherit;
  padding: 0 50px;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 0 30px;
  font-family: 'Raleway Dots', cursive;
  font-weight: 700;
}
.navbar ul li a:hover {
  color: #4cd137;
  transition: 0.3s ease-in-out;
}
.navbar .navbar-toggler {
  display: none;
}

@media (max-width: 991px) {
  .navbar ul {
    padding: 0 10px;
  }
  .navbar ul li a {
    min-width: 100px;
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 0;
  }
  .navbar ul {
    width: 100%;
    padding: 0;
    margin-top: 0em;
    background: #111;
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
  }
  .navbar ul.open {
    max-height: 100vh;
  }
  .navbar ul li {
    width: 100%;
    /* border-bottom: 1px solid rgba(255,255,255,0.3); */
  }
  .navbar ul li a {
    padding: 0;
  }
  .navbar .navbar-toggler {
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #fff;
    /*border: 3px solid #fff;*/
    border: none;
    /*border-radius: 4px;*/ 
    outline: none;
    padding: 0 5px;
    cursor: pointer;
  }
  .navbar .navbar-toggler span,
  .navbar .navbar-toggler span::before,
  .navbar .navbar-toggler span::after {
    display: block;
    content: '';
    background-color: #fff;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }
  .navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }
  .navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }
 
  .navbar .navbar-toggler.open-navbar-toggler span {
    /*transform: rotate(90deg); */
    background-color: transparent;
    /*transform: scale(1) rotate(270deg); */
  }
  .navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
    /*transform: translateY(0px) scale(0.75) rotate(45deg);*/ 
  }
  .navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
    /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
  }    
}

/* BANNER */  

h1{
  text-transform: none;
  font-size: 48px;
  padding: 10px;
  font-family: 'Raleway Dots', cursive;
}

h1 span{
  color: #4cd137;
  font-size: 48px;
}

.banner-text{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 100%;
  text-align: center;
  border-radius: 50px;
  /*background: rgba(255, 255, 255, 0.25);*/
  background: transparent;
  color: #fff;
  text-shadow: 2px 2px 4px #080808;
}

.banner-text a{
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #fff;
  font-size: 18px;
  text-decoration: none;
  margin-top: 15px;
  color: #fff;
  letter-spacing: none;
  border-radius: 5px;
}

.banner-text a:hover{
  background: #fff;
  color: #080808;
  transition: 0.3s ease-in-out;
  text-shadow: none;
}

@media only screen and (max-width:768px) {
.banner-text{
  left: 50%;
  width: 72%;
}
h1{
  font-size: 28px;
  font-weight: 700;
}
h1 span{
  /*font-size: 28px;
  font-weight: 700;*/
}
.banner-text a{
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
}

/* ANCHORS */

a.anchor {
display: block;
position: relative;
top: -80px;
visibility: hidden;
}

a.anchor1 {
display: block;
position: relative;
top: -80px;
visibility: hidden;
}

a.anchor2 {
display: block;
position: relative;
top: -80px;
visibility: hidden;
}

/* ICON BAR*/

.icon-bar{
z-index: 5;
position: absolute;
top: 50%;
left: 97%;
transform: translate(-50%, -50%);
}

.icon-bar a{
display: block;
text-align: center;
padding: 16px;
transition: 0.5s ease-in-out;
font-size: 20px;
background-color: transparent;
border-radius: 5%;
}

.icon-bar i{
font-size: 38px;
font-weight: 700;
color: #fff;
transition: 0.5s ease-in-out;
}

.icon-bar i:hover{
  color: #fff;
}

.icon-bar a:hover{
  background: #555;
}

@media only screen and (max-width:768px) {
  .icon-bar{
    display: none;
    position: absolute;
  }
  .icon-bar a{
    background: transparent;
    font-size: 20px;
    padding: 16px;
  }
  .icon-bar i{
    color: #fff;
    opacity: 1;
    font-size: 28px;
    font-weight: 400;
  }
  a.anchor, a.anchor1, a.anchor2{
    top: -80px;
  }
  .section{
    height: fit-content;
    justify-content: center;
  }
  .section-about{
    padding: 0;
    margin: 0;
  }
}

/* BUTTON */
#btn{
  display: none;
  z-index: 100;
  position: fixed;
  bottom: 15px; 
  right: 15px; 
  border: none; 
  outline: none; 
  color: #fff;
  background-color: #4cd137;
  cursor: pointer; 
  padding: 7px; 
  font-size: 28px; 
  transition: 0.3s ease-in;
  border-radius: 5px;
}

#btn:hover{ 
  background-color: #666;
  transition: 0.3 ease-out;
  transform: rotate(0deg);
}

/* IMAGES */

.pimg1, .pimg2, .pimg3, .pimg4{
  position:relative;
  /*opacity:0.70;*/
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  /*background-image:url('https://images.pexels.com/photos/432786/pexels-photo-432786.jpeg?cs=srgb&dl=pexels-pixabay-432786.jpg&fm=jpg');*/
  background-image: url('https://images.pexels.com/photos/452780/pexels-photo-452780.jpeg?cs=srgb&dl=pexels-artem-beliaikin-452780.jpg&fm=jpg');
  min-height:100vh;
  opacity: 90%;
  filter: blur(0px);
}

.pimg2{
  min-height:50vh;
  background-image:url('https://images.pexels.com/photos/296230/pexels-photo-296230.jpeg?cs=srgb&dl=pexels-lukas-296230.jpg&fm=jpg');
}

.pimg3{
  background-image:url('https://images.pexels.com/photos/9257/nature-garden-grass-lawn.jpg?cs=srgb&dl=pexels-skitterphoto-9257.jpg&fm=jpg');
  min-height: 50vh;
}

.pimg4{
  background-image:url('https://images.pexels.com/photos/5808/food-healthy-vegetables-village.jpg?cs=srgb&dl=pexels-kaboompics-com-5808.jpg&fm=jpg');
  min-height: 50vh;
}

@media screen and (max-width:768px){
  .pimg2, .pimg3, .pimg4{
    display: none;
  }
}

.section{
  text-align:center;
  padding:50px 80px;
}

@media screen and (max-width:800px) {
  .section{
    padding: 50px 0px;
  }
  .section-about p{
    padding: 0px 20px;
    text-align: justify;
    text-justify: inter-word;
  }
}

.section-about{
  /*background-image: url('img/dark.png');*/
  background: #333;
  color: #fff;
}

.section-services{
  background: #EEEEEE;
  color:#080808;
}

.section-services h3, .section-services h2, .section-services span{
  color: #333;
}

.section-contact{
  background: #666;
}

.section-gallery{
  background: #fff;
}

.section-gallery h2{
  color: #333;
}

h2{
  color: #fff;
  font-weight: 700;
  font-size: 28px;
  font-family: 'Raleway Dots', cursive;
  padding-bottom: 20px;
}

a i{
  color: #fff;
  text-decoration: none;
  font-size: 47px;
  font-weight: 700;
}

a i:hover{
  color: #000;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size: 27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{ 
  background-color:transparent;
}
/* CONTACT */

.contact-info{
display: flex;
width: 100%;
/*max-width: 1200px;*/
align-items: center;
justify-content: center;
padding: 0  20px;
}
.card{
background: #222;
padding: 0 20px;
margin: 0 10px;
/*width: calc(33% -20px);*/
width: 300px;
height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #fff;
cursor: pointer;
border-radius: 5px;
}

.card-icon{
font-size: 27px;
/*background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);*/
background: #4cd137;
width: 80px;
height: 80px;
text-align: center;
line-height: 80px !important;
border-radius: 50%;
transition: 0.3s linear;
}

.card:hover .card-icon{
background: none;
color: #fff;
transform: scale(1.6);
}

.card p{
margin-top: 20px;
font-weight: 300;
letter-spacing: 2px;
max-height: 0;
opacity: 0;
transition: 0.3s linear;
}

.card:hover p{
max-height: 40px;
opacity: 1;
}

@media screen and (max-width:800px) {
.contact-info{
  flex-direction: column;
  padding-left: 20px;
}
.card{
  /*max-width: 100%;*/
  width: 300px;
  margin: 10px 0;
}
}

/* SERVICES */

.cen{
max-width: 1200px;
margin: auto;
overflow: hidden;
padding: 20px;
}

.services{
display: inline-block;
width: calc(100% / 3);
margin: 0 -2px;
padding: 20px;
box-sizing: border-box;
cursor: pointer;
transition: 0.3s;
}

.services i{
color: #4cd137;
font-size: 34px;
margin-bottom: 30px;
}

.services h2{
font-size: 18px;
text-transform: uppercase;
font-weight: 500;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

.services p{
color: gray;
font-size: 15px;
font-weight: 500;
}

@media screen and (max-width:800px) {
  .services{
    width: 50%;
  }
}

@media screen and (max-width:500px) {
  .services{
    width: 100%;
  }
}

/* gallery */

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  /*box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);*/
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  padding: 10px;
}

.gallery-item {
  flex-basis: 33%;
  margin-bottom: 6px;
  opacity: 1;
  cursor: pointer;
}

.gallery-item h3{
  position: relative;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  width: 75%;
  padding: 10px 20px;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -0%);
}

.overlay{
  background: transparent;
  height: 100%;
  position: relative;
  top: calc(-101%);
  left: 50%;
  transform: translate(-50%, 0%);
  /*width: 70%;*/
  color: transparent;
  transition: 0.5s ease-in-out;
}

.overlay-text{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.overlay:hover{
  /*background: rgba(255, 255, 255, .5);*/
  background: rgba(0, 0, 0, .5);
  color: #fff;
  text-shadow: 2px 2px 4px #080808;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width:1300px) {
  .overlay{
    background: rgba(0, 0, 0, 0.);
    color: #fff;
  }

  .overlay-text{
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
  }

  .overlay:hover{
    background: transparent;
  }
}

.gallery-item:hover {
  opacity: 0.8;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-content {
  font-size: .8em;
}

.lightbox {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 2;
}
.lightbox-content {
  position: relative;
  top: 10%;
  width: 70%;
  height: 70%;
  margin: 5% auto;
}
.lightbox-content img {
  border-radius: 7px;
  box-shadow: 0 0 3px 0 rgba(255, 255, 255, .25);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lightbox-prev,
.lightbox-next {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 17px;
  top: 45%;
  cursor: pointer;
}
.lightbox-prev {
  left: 0;
}
.lightbox-next {
  right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
  color: #000;
}

@media (max-width: 767px) {
  .gallery-container {
      width: 100%;
  }
  .gallery-item {
      flex-basis: 49.80%;
      margin-bottom: 3px;
  }

  .lightbox-content {
      width: 80%;
      height: 60%;
      margin: 15% auto;
  }
}
@media (max-width: 480px) {
  .gallery-item {
      flex-basis: 100%;
      margin-bottom: 1px;
  }

  .lightbox-content {
      width: 90%;
      margin: 20% auto;
  }
}

/* HERO */

.hero{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/grey.png);
}

.about-section{
  background: url('https://images.pexels.com/photos/2987081/pexels-photo-2987081.jpeg?cs=srgb&dl=pexels-huy-phan-2987081.jpg&fm=jpg') no-repeat left;
  background-size: 55%;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container{
  width: 55%;
  float: right;
  background-image: url(img/dark.png);
  padding: 150px;
  border: #fff solid 2px;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
}

.text{
  font-size: 13px;
  color: #fff;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}

.skills a{
  text-decoration: none;
  color: #fff;
  font-family: 'Raleway Dots', cursive;
  transition: 0.3s ease-in-out;
}

.skills a:hover{
  color: #4cd137;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width:1200px){
  .inner-container{
    padding: 80px;
  }
}

@media screen and (max-width:1000px){
  .about-section{
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container{
    width: 100%;
  }
}

@media screen and (max-width:600px){
  .hero{
    background: url('https://images.pexels.com/photos/101841/pexels-photo-101841.jpeg?cs=srgb&dl=pexels-photomix-company-101841.jpg&fm=jpg');
  }
  .about-section{
    padding: 0;
  }
  .inner-container{
    padding: 60px;
  }
}

/* END FOOTER */

.end{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: auto;
  flex-direction: column;
  background: #4cd137;
}

footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .container .sec{
  margin-right: 30px;
}

footer .container .sec.aboutus{
  width: 40%;
}

footer .container h2{
  position: relative;
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;
}

footer .container h2::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #4cd137;
}

footer p{
  color: #999;
}

.sci{
  margin-top: 20px;
  display: flex;
}

.sci li{
  list-style: none;
}

.sci li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #4cd137;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.sci li a:hover{
  background: #666;
}

.sci li a i{
  color: #fff;
  font-size: 20px;
}

.quickLinks{
  position: relative;
  width: 25%;
}

.quickLinks ul li{
  list-style: none;
}

.quickLinks ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover{
  color: #fff;
}

.contact{
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contact .info{
  position: relative;
}

.contact .info li{
  display: flex;
  margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.contact .info li span{
  color: #999;
}

.contact .info li a{
  color: #999;
  text-decoration: none;
}

.contact .info li a:hover{
  color: #fff;
}

@media (max-width: 991px){
  footer{
    padding: 40px;
  }
  footer .container{
    flex-direction: column;
  }
  footer .container .sec{
    margin-right: 0;
    margin-bottom: 40px;
  }
  footer .container .sec.aboutus, .quickLinks, .contact{
    width: 100%;
  }
}

/* SCROLLBAR 

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: #eee;
}
body::-webkit-scrollbar-thumb {
  background-color: #4cd137;
  border-radius: 0px;
  border: 3px solid #4cd137;
}